.user-card{
    display:grid;
    grid-auto-rows: min-content;
    grid-gap: 10px;
    align-content: center;
    position:relative;
    width: 100%;
    height: 250px;
    background-color: rgb(22, 22, 22);
    border-radius: 15px;
    transform: scale(0);
    animation: surfacing .3s forwards;
    
    padding:10px;
}
.open-user-card-modal__btn{
    position: absolute;
    cursor:pointer;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    top:0;
    left:0;
    background-color: transparent;
}
.user-card__img{
    grid-column:1;
    grid-row:1/4;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}
.user-card__info-header{
    color:var(--light-font-color);
    text-transform: uppercase;
    grid-column: 2/4;
    grid-row: 1/2;
}
.user-card__info-list{
    list-style: none;
    color:var(--light-font-color);
    grid-column: 2/4;
    grid-row: 2/4;
}
@keyframes surfacing {
    to{
        transform: scale(1);
    }
}
