@import url(./fonts/fonts.css);
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --light-font-color:white;
  --dark-font-color:rgb(45, 36, 36);
  --light-font-hover-color:rgb(224, 192, 151);
  --dark-font-hover-color:rgb(92, 61, 46);

  --dark-block-color:rgb(22, 22, 22);
}
body {
  min-height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root{
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
