.delete__btn{
    padding: 5px 10px;
    border-radius: 15px;
    border:none;
    color:var(--light-font-color);
    font-family: var(--main-font-family);
    cursor:pointer;
    background-color:rgb(90, 40, 69);
    transition: background-color .3s;
}
.delete__btn:hover{
    background-color:rgb(117, 45, 79);
}
.delete__btn:focus{
    background-color:rgb(68, 31, 56);
}


.edit-user__btn{
    border-radius:15px;
    border:none;
    color:var(--light-font-color);
    font-family: var(--main-font-family);
    background-color:transparent;
    cursor: pointer;
    transition: .3s;
}
.edit-user__btn:disabled{
    opacity: .5;
}
.edit-user__btn:hover{
    background-color:white;
    color:black;
}