.pagination-line__pages-list{
    list-style: none;
    display: flex;
}
.pagination-line__pages-btn{
    position: relative;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: transparent;
    border:none;
    cursor:pointer;
    background-color: rgb(236, 219, 186);
    font-family:Outfit ;
    transition:color .3s;
}
.pagination-line__pages-btn span{
    position: absolute;
    z-index: 2;
    top:50%;
    transform: translateY(-50%) translateX(-50%);
    left:50%;
}
.pagination-line__pages-btn::before{
    content: "";
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    border-radius: 50%;
    background-color: rgb(52, 103, 81);
    transition: transform .2s;
    transform: scale(0);
}
.pagination-line__pages-btn:hover{
    color:var(--light-font-hover-color);
}
.pagination-line__pages-btn:hover::before{
    transform: scale(1);
}
.currentPage{
    background-color: rgb(200, 75, 49);
}