.user-card__list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    grid-auto-columns: min-content;
    grid-gap:5px 10px;
}
.user-card{
    position: relative;
}
.open-user-card-modal__btn{
    position: absolute;
    cursor:pointer;
    z-index: 1;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    top:0;
    left:0;
    background-color: transparent;
}